@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,400;1,500&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #191919;
    color: white;
    overflow-x: hidden;
}
#page1 nav{
    margin-top: 30px;
}
#page1 ul{
    display: flex;
}
#page1 ul li{
    margin-left: 30px;
    list-style: none;
    
}
#page1 ul li a{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    text-decoration: none;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* .page1_social{
    width: 35px;
    height: 35px;
    background-size: cover;
}
#page1_instagram{
    background-image: url(img/instagram.png);
}
#page1_facebook{
    background-image: url(img/facebook.png);
}
#ajustes{
    display: grid;
    grid-template-columns: repeat(2, 40px);
    column-gap: 10px;
    color: black;
    text-align: center;
}
#balao{
    display: none;
    position: relative;
    width: 300px;
    border-radius: 10px;
    top: 30px;
    left: 20%;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
#centro{
    display: grid;
    margin-top: 70px;
    height: 430px;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 800px;
    justify-content: center;
    column-gap: 170px;
}
#apresentacao{
    margin: 30px 0 0 0;
    height: 430px;
}
#apresentacao button{
    margin-left: 140px;
    width: 198px;
    height: 54px;
    border: 1px solid #FD680C;
    background: #191919;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#apresentacao a{
    text-decoration: none;
    color: white;
}
#apresentacao h2{
    color: #FD680C;
    text-align: left;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 0 20px;
}
#apresentacao h1{
    color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 50px 0;
}
#foto{
    width: 500px;
    height: 279px;
    background-image: url(https://i.pinimg.com/originals/45/eb/98/45eb98c8637d591a1bde451eb1bce941.png);
    background-size: cover;

}
#bottom_line{
    width: 100%;
    height: 71px;
    background-color: #FD680C;
    margin-bottom: 0;
}
/* Page 2 */
#centro2{
    display: grid;
    height: 500px;
    width: 100%;
    grid-template-columns: 550px 40%;
    justify-content: center;
    column-gap: 200px;
}
#divisoria{
    margin-top: 50px;
}
#centro2 button{
    width: 198px;
    height: 54px;
    border-radius: 30px;
    border: 2px solid #FD680C;
    background: #FD680C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 7% 0 0 35%;
}
#centro2 button a{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
#page2{
    width: 100%;
    background-color: white;
    margin: 0;
    height: 580px;
    color: black;
}
#fundo_page2{
    margin-left: 25%;
    width: 100%;
    height: 580px;
    background: url(img/image\ 3.png), lightgray 50%;
    background-size: cover;
}
#delivery h2{
    color: #191919;
    text-align: center;
    font-family: Lobster;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#delivery p{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#contato{
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 70px 250px;
}
#contato p{
    text-align: center;
    margin: 0 0 5px 10px;
}
#icon{
    width: 69px;
    height: 70px;
    background: url(img/entrega\ icon.png)
}
#foto2{
    position: relative;
    top: -235%;
    left: 140%;
    width: 250px;
    height: 220px;
    background: url(img/Sobradinho\ 1.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
#foto3{
    position: relative;
    top: -115%;
    left: 3%;
    width: 250px;
    height: 220px;
    background: url(img/sobradinho\ 2.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page 3 */
#cardapio{
    width: 100vw;
    height: 85vh;
    background-color: #FD680C;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}
#img_promocao{
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background: url(img/TERÇA\ DA\ PROMOÇÃO\ \(2\).png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#produtos{
    width: 100%;
    height: 100%;
    background-color: #FD680C;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 25% 50%;
}
#produtos h2{
    margin: 3% 0 0 30%;
    color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#grid{
    background: #FD680C;
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(2, 175px);
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 20%;
}
.quadro{
    width: 184px;
    height: 174px;
    border-radius: 20px;
    background: #191919;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.quadro h3{
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
    width: 184px;
    height: 24px;color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.quadro a{
    display: block;
    width: 100%;
    height: 100%;
}
#pizzas img{
    width: 130px;
    height: 110px;
    margin-left: 13%;
}
#carnes img{
    width: 150px;
    height: 130px;
    margin-left: 14%;
}
#petiscos img{
    width: 150px;
    height: 130px;
    margin-left: 14%;
}
#sucos img{
    width: 120px;
    height: 125px;
    margin-left: 14%;
}
#sanduiches img{
    width: 130px;
    height: 130px;
    margin-left: 14%;
}
#especiais img{
    margin-top: 8%;
    width: 115px;
    height: 110px;
    margin-left: 20%;
}
/* Footer */
#texto_footer{
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
}
#texto_footer h3{
    font-size: 26px;
    margin-bottom: 5px;
}
#texto_footer p{
    font-size: 20px;
    font-family: Montserrat;
    margin-top: 0px;
}
#direitos_autorais{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
#redes_sociais{
    display: grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: 50px;
    column-gap: 12px;
}
#instagram{
    width: 35px;
    height: 35px;
    background: url(img/instagram.png);
    background-size: cover;
}
.social a{
    display: block;
    width: 100%;
    height: 100%;
}
#likedin{
    width: 35px;
    height: 35px;
    background: url(img/Likedin.png);
    background-size: cover;
}
#whatsapp{
    width: 35px;
    height: 35px;
    background: url(img/whatsapp.png);
    background-size: cover;
}