@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,400;1,500&display=swap');

body{
    background-color: #191919;
    color: #FD680C;
}
#titulo{
    color: white;
    text-align: center;
    font-family: Lobster;
    font-size: 28px;
    margin-top: 10%;
}
#precos ul{
    margin: 0;
    list-style: none;
}
#precos ul li{
    color: #FD680C;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
#precos ul p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}
#tamanhos_precos{
    background-color:#1d1d1d;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    color: #FD680C;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10%;
}
#tamanhos_precos p{
    width: 85%;
    border-bottom: 1px solid #FD680C;
    margin:10px 7.5%;
}
#tamanhos_precos h4{
    font-size: 28px;
    margin:10px 0;
}